## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Popular Data Science Languages
1. **Python**
2. **R** 
3. **SQL**

#### Popular Data Science Libraries
1. **Numpy**
2. **Scikit** 
3. **Pandas**

### Development Environment Open Source Tools
| Data Science Tools | Intro|
|---|---|
| **Jupyter Notebook** | An interactive web-based environment|
| **RStudio** | An integrated development environment|
| **Visual Studio Code** | A versatile code editor|

## Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

### List popular languages for Data Science
* **Python:**
* **R:**
* **SQL:**
* **Java:** 
* **Julia:**

## Author
### Prabhjyot Wadhwa